$shadowColour: rgba(0, 0, 0, .6);
$primary1: #DD711F;
$primary2: #33372C;
$primary3: #ecf3f2;

$primary3-b: #B1C1C2;
$neutral-b: #005c55;
$primary2-w: #656e56;
$filter-primary2: rgba(51, 55, 44, .5);
$filter-primary1: rgba(189, 111, 56, 0.5);

$neutral1: #557C56;
$neutral2: #A9A9A9;
$neutral3: #D6E4E5;

$red: #C62E2E;
$text: #3C3A36;
$deep: #686664;