


/* 變數區:顏色’字級設定 */
:root {
  --shadowColour: rgba(0, 0, 0, .6);
  --primary1: #DD711F;
  --primary2: #33372C;
  --primary3: #ecf3f2;

  --primary3-b: #B1C1C2;
  --neutral-b: #005c55;
  --primary2-w: #656e56;
  --filter-primary2: rgba(51, 55, 44, .5);
  --filter-primary1: rgba(189, 111, 56, 0.5);

  --neutral1: #557C56;
  --neutral2: #A9A9A9;
  --neutral3: #D6E4E5;

  --red: #C62E2E;
  --text: #3C3A36;
  --deep: #686664;

  /* 字級 */
  --font-size-xs: .8rem;
  --font-size-s: .85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.2rem;
  --font-size-xl: 1.4rem;
  --font-size-xxl: 1.8rem;
  --font-size-xxxl: 2rem;

}



/* 首頁結束 */
/* 測驗頁 */
#quiz {
  width: 67%;
  max-width: 800px;
  margin-bottom: 60px;
  /* 防止內容被切到 */
}


.quiz-box {
  margin-top: 6%;
  width: 100%;
}


.quiz-box:last-child {
  margin-left: 24px;
}



.bg-quiz {
  width: 200px;
}

/* 測驗頁 */
.wrapper {
  background-size: 60%;
}


.question>ul {
  width: 100%;
  flex-wrap: wrap;
}

.question ul {
  padding: 0 8px 8px;
}

@media (max-width: 640px) {
  .wrapper {
    overflow-x: hidden;
  }

  .wrapper p {
    width: auto;
  }

  #quiz {
    width: 77%;
    align-items: normal;
  }

  .quiz-box {
    width: auto;
    transform: none !important;
  }

}

@media (min-width:1024px) {
  #quiz>p {

    width: 70%;
  }
}

/* 營養分頁 */
#NuT-banner {
  background-image: url(../public/02-web-images0102/nutrition/nuTbg_jonas-allert-6oco8WCnABs-unsplash.jpg);
  background-position: 50% 58%;
}

#nuT-wrap {
  background-color: var(--primary3);
  background-size: 26%;
  padding: 5% 3% 0;
  min-height: 100vh;
}

#nuT-wrap>li {
  width: 70%;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 16px;
  transition: .5s ease-out;
  backdrop-filter: blur(3px);
}

#nuT-wrap li>ul {
  flex: 3;
}

#nuT-wrap li>ul>li:first-child {

  flex-direction: column;

}


/* General Styles */


/* Select input styling */
#explore label {
margin-top: 5%;
}
#explore select {
  padding: 10px 15px;
  font-size: 16px;
  background-color: var(--primary3-b); /* Slightly darker grey background */
  border: 2px solid var(--primary2); /* Orange border */
  border-radius: 5px;
  color: var(--primary2); /* Dark grey text */
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  width: 200px; /* Adjust width */
  margin-bottom: 24px;
}

/* Option styling */
#explore select option {
  background-color: var(--select-bg); /* Matches select background */
  color: var(--primary2); /* Dark grey text for better readability */
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}



@media (max-width: 640px) {
#nuT-wrap {
background-size: 48%;
}
 
  #nuT-wrap li figure {
    width: 43% !important;
  }
}

@media (max-width:1023px) {
  #nuT-wrap {
    flex-flow: column nowrap;

  }

  #nuT-wrap>li {
    flex-direction: column;
  }

  #nuT-wrap li>figure {
    width: 27%;
  }
}

@media (min-width:1024px) {
  #nuT-wrap li>figure {

    width: 65% !important;
  }

  #nuT-wrap {
    align-items: normal;
  }
}

@media (min-width:1024px) {
  #nuT-wrap>li {
    width: 38%;
  }
}

/* 探索頁 */

#explore {
      background-image: linear-gradient(
        var(--filter-primary1) 1%,
        var(--filter-primary1) 99%
      ),url(../public/02-web-images0102/explorebg1.png);
  /* background-position: 99% 0; */
  flex-direction: column;
}
.exPwrapper {
  flex-flow: row wrap;
  width: 90%;
  justify-content: center;
  align-items: normal;
  border-top: 8px groove var(--primary2);
}

.exPcard {
  width: 24%;
  height: 50vh;
  flex-direction: column;
  background-image:
    linear-gradient(var(--filter-primary2) 1%, var(--filter-primary2) 99%),
    url(../public/02-web-images0102/explore-image/exPcard-bg_5481060_2851714-01.svg);
  background-size: cover;
  margin-right: auto;
  border-radius: 16px;
  margin-top: 32px;
  display: flex;
  transition: .2s ease-out;
}
.exPcard:hover{
  transform: 
  skew(3deg, 5deg)
  translate(0, -6%)

   ;
   /* 當鼠標懸停在元素上時，水平傾斜 20 度，垂直傾斜 10 度。 */
box-shadow: -2em 1.5em 0 -0.7em    rgba(51, 55, 44, .4);
;
;
}
.exPcard:hover h3{
  color: var(--neutral3);
}

.exPcard:nth-child(odd) {
  background-position: 70% 50%;

}

.exPcard:nth-child(even) {
  background-position: 30% 100%;
  background-size: 127%;

}

.exPcard a {
  flex: 5;
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.exPcard a>*:not(img) {
  z-index: 99;
  padding: 8px;
}

.exPcard a>h3 {
  color: #fff;
  align-self: flex-end;
  background-image: url(../public/02-web-images0102/explore-image/expTitle-bg.png);
background-size: contain;
background-repeat: no-repeat;
background-position: 50% 61%;}

.exPcard div {
  flex: 3;
  padding: 8px;
  height: auto;
}

.exPcard a>img {
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.exPcard:nth-child(6n) a>img {
bottom: 0;
}

.exPcard div>* {
  display: flex;
}

.exPcard div h4 {
  align-items: flex-end;
  white-space: nowrap;
  color: var(--primary3);
}

.exPcard div h4>span {
  height: auto;
  width: -webkit-fill-available;
  color: #fff;
  margin-left: 6%;

}

.exPcard div h4:nth-child(1) {
  background-color: var(--primary1);
  display: inline-block;
  color: #fff;
  padding: .1rem 8px;
  font-size: var(--font-size-s);
}

.exPcard div h4:nth-child(3) span {
  margin-left: auto;
}

.exPcard div svg {
  height: 24px;
  width: auto;
  color: var(--primary1);
  margin-left: 2%;
  margin-left: 0.5rem;
  color: var(--primary3);
  transition: .2s ease;
}

.exPcard div:hover svg {
  transform: scale(.8);
}

.exPcard div p {
  margin-top: 2%;

  transition: .2s ease;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  text-align: justify;

}

.exPcard:hover div>p {
  display: block;
}

#exP-banner {
  background-image: url(../public/02-web-images0102/exPbanner_neom-UUPsAkA6jQA-unsplash.jpg);
  background-position: 50% 77%;
}
#explore>div {
flex-direction: column;
align-self: center;
width: 80%;
margin-bottom: 2%;
}
#explore>div h3{
  font-family: "Sora", "LXGW WenKai TC", serif;

}
#explore>div>div {
  border: 2px solid #fff;
border-radius: 8px;
padding: 16px;
margin-top: 2%;
margin-bottom: auto;
}
@media (max-width: 640px) {
  .banner {
  height: 35vh !important;
  }}



#explore>h3.title {
  font-family: "Fuzzy Bubbles", serif;
  font-weight: 700;
  font-size: var(--font-size-xxl);
  position: relative;
  display: inline-block;
  margin-left: 5%;
  color: var(--primary2);
  margin-top: 2%;
  align-self: flex-start;
}

section>h3:nth-child(1) img {
  right: -39%;
  bottom: 0;

}

#explore>.title img {
  position: absolute;
  height: 64%;
  width: auto;
}
.upD-btn {
  font-size: var(--font-size-l);
  border-radius: 8px;
  background-color: var(--primary2);
  color: #fff;
align-self: flex-end;
}

@media (max-width: 640px) {
.exPwrapper {

    flex-flow: column nowrap;
  }
  .exPcard {
    width: 70% !important;
    height: 350px;
    justify-content: space-evenly;
    margin-right: 0;
    align-self: center;
  }

}

@media (max-width:1023px) {
  .exPcard {
    width: 32%;
    height: 400px !important;
  }

}

@media (min-width:1024px) {
  .exPcard div p {
    display: none;
  }
  .exPcard {
    width: 23%;
  margin-right: 2%;}
}
