@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Fuzzy+Bubbles:wght@400;700&family=Gloria+Hallelujah&family=LXGW+WenKai+TC&family=Sora:wght@100..800&display=swap');

/* vite預設 */
#root {
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}


.read-the-docs {
  color: #888;
}

/* 清除預設 */
#root {
width: 100%;
padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
li,ol, ul {
	list-style: none;
}
a{
  text-decoration: none;
}
/* 變數區:顏色’字級設定 */
:root{
  --shadowColour: rgba(0, 0, 0, .6);
--primary1: #E5A84D;
--primary2: #2A3663;

--primary2-w: #606C97;
--primary1-w: #FFF4E6;

--skin:#FFD39A;
--moss:#E3EECD;

--neutral1:#2BC07C;
--neutral2:#FFF9A3;
--red:#C62E2E;
--text:#3C3A36;
}
body{
  font-family:"Sora", "Chocolate Classical Sans" ;
  color: var(--text);
}
h1{
  font-size: 3rem;
}
/* 選擇置中 */
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.alignC{
  display: flex;
  align-items: center;
}
.justFC{
  display: flex;
justify-content: center;
}

#topbar{
  justify-content: space-between;
  background-color: var(--primary2-w);
  opacity: .9;
  padding: 0 16px;
}
.logo>h4{
  flex-direction: column;
  font-weight: 600;
  color: var(--primary1);
}
#topbar>svg{
  width: 100%;
}
.logo{
  display: flex;
  width: 60px;  font-family: "LXGW WenKai TC", serif;

}
img{
  width: 100%;
}
/* 導覽列內容 */
  .navigation{
  display: flex;
  justify-content: space-around;
}
/* 選單 */
.navigation>ul{
  display: flex;
  width: 100%;
}
.navigation>ul>li{
  display: flex;
  transition: .4s;
}

.navigation>ul>li>*{
  color: #fff;
  padding: 5px;
}

/* 首頁 */
#index-banner{
  /* width: calc(90vh *1.62); */
  /* max-height: 90vh; */
  /* height: calc( (100vw - 30px * 2) / 1.62); */
  height: 90vh;
}
#grid-l{
  height: 100%;
  flex: 2;
}
.grid-r {
  flex: 3;
 
  height: 100%;
}
.grid-r,#col2 {

  display: flex;

}
.grid-r,.col{
  flex-direction: column;
}
.grid-r div{
  display: flex;
}
#row1{
  flex:3;
/* height:calc( 90vh * 0.6 ); */
}
#col2{
  flex:3;

  /* width: calc( 90vh * 0.6 / 1.62); */
}
#row2,#col1{
  flex: 2;
}
#col2 >div:nth-child(odd){
  flex: 3;
}
#col2 >div:nth-child(even){
flex: 2;
}

#col1{
  justify-content: space-around;
}
.content {
display: flex;
flex-direction: column;
color: #fff;
padding: 0 16px;
z-index: 98;
}

.content >h3{
  font-size: 1.8rem;
}
#grid-l .content{
text-align: center;
  padding: 32px;
  }

.card  .content>p{
  opacity: 0;
  transition: .2s ease;
  padding-top: 24px;
  color: #ccc;
}

.card:hover .content>p{
opacity: 1;
}
.card:not(#grid-l):hover .content >*{
  color:var(--text);
}
.card{
height: auto;
transition: .8s ease;
position: relative;

}
.card>a{
  z-index: 98;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}

.card svg{
width: 4rem;
height: auto;
height: 48px; 
margin: 0 24px;
z-index: 98;
align-self: flex-end;
}

  #enter-icon{
  fill: #fff;
}
#row2{
  background-size: 40%;
}
#row2>a{

  flex-direction: row;
}

.card:not(#grid-l):hover .bg{
  opacity: 0.2;

}

#grid-l{
  overflow: hidden;
}
#grid-l:hover  img{
transition: .6s ease-in-out;
}
#grid-l:hover  img{
transform: scale(1.2);
  /* 左 */
}
.card .bg {
  position: absolute;
  height: 100%;
  object-fit: cover;
}
.grid-r #row1 .card:nth-child(2):hover {
  background-color: var(--moss);  /* 右-右-下 */
}

.grid-r .card:nth-child(1):hover {
  background-color: var(--neutral1);  /* 右上-左 */
}

#col2 .card:nth-child(1):hover {
  background-color: var(--skin);  /* 右-右-上 */
}

#row2:hover {
  background-image: none !important;
  background-color: var(--neutral2);   /* 右下 */
}

.grid-r .card:nth-child(2):hover >a>svg{
  fill:red;
}

/* 測驗頁 */
#quiz{
  width: 67%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;  /* 防止內容被切到 */
}
#quiz>p{
  padding-top: 5%;
  width: 70%;
}
.quiz-box{
  background-image: url(../public/02-web-images0102/heather-green-hKfKmfvPY44-unsplash.jpg);
  background-size: cover;
  margin-top: 6%;
  transition: .5s ease-in;
  z-index: 99;
  width: 100%;
}
.quiz-box:nth-child(even){
  background-position: 50% 20%;
}


div.question{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
}
.bg-quiz{
 width: 200px;
}
.wrapper{
  position: relative;
flex-direction: column;
padding: 0 2%;
background-color:var(--primary1-w) ;
}
.svg-background {
  position: absolute;  /* 利用wrapper的外層定位 */
width:  30%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.svg-background >svg{
  fill: var(--primary1);
  height: 100%;
  object-fit: cover;
}
.quiz-bg{
  position: absolute;  /* 利用wrapper的外層定位 */
  width:  30%;
  fill: var(--primary1);}
.quiz-bg:nth-child(odd){
  top: 3%;
  left: 9%;
}
.quiz-bg:nth-child(even){
  top: 6%;
  right: 3%;
}
.question>ul{
  width: 100%;
  flex-wrap: wrap;
}
.question>ul>li{
   white-space:nowrap;
margin: 0 10px;
}
  .question ul li input:checked + label {

  text-decoration: line-through;
  text-decoration-color: var(--red);
}

#banner{
  background-size: cover;
  background-image: url(../public/02-web-images0102/explore-image/quiz-banner.jpg);
height: 43vh;
background-position: 50% 38%;
  width: 100%;
  z-index: 99;
align-items: flex-end;
padding-bottom: 80px;
}
.heading{
background-image: linear-gradient(transparent 30%,
var(--neutral2) 30%,
var(--neutral2) 80%,
transparent 80%
);
}
.heading>span{
  color: var(--neutral1);
}
button{
  border: 0;
}
#quiz button{
  background-color: var(--primary2);
  color: #fff;
  padding: .5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}
#quiz button:nth-child(even){
  background: orange;
}
